<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System">
      <section name="BillingApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=DESKTOP-468EJSH;Initial Catalog=BillingApp;Integrated Security=True;User Id=sa;Password=root;" providerName="System.Data.SqlClient"/>
 <!--   <add name="connectionString" connectionString="Data Source=DESKTOP-37OIIG0\SQLEXPRESS;Initial Catalog=billingApp_Db;Integrated Security=True;User Id=sa;Password=root;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
<!-- Data Source=DESKTOP-468EJSH;Initial Catalog=BillingApp;Integrated Security=True -->
  <userSettings>
    <BillingApp.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>Billing Dashboard</value>
      </setting>
    </BillingApp.Properties.Settings>
  </userSettings>
</configuration>
